---

import Layout from '../layouts/Layout.astro';
import Introduction from '../sections/Introduction.astro';
import About from '../sections/About.astro';
import Experience from '../sections/Experience.astro';
import Academics from '../sections/Academics.astro';
import Contacto from '../sections/Contacto.astro';
import Footer from '../sections/Footer.astro';
import ScrollIndex from '../components/ScrollIndex.astro';



// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `sections`, and `layouts` directories, and start fresh.
---

<Layout>
<div class="md:grid md:grid-cols-2">
    <!-- Columna izquierda -->
  	<aside class="h-screen md:sticky top-0 flex flex-col justify-between items-center px-6">
    	<section class="basis-[70%] flex flex-col justify-center items-center text-left">
      	<div>
        	<span class="font-[VT323] text-[1.3rem] text-[#4ED0C2]">Hello!!, my name is</span>
        	<h1 class="font-[Work-Sans] text-4xl">Esteban Marta Rojas</h1>
        	<h2 class="font-[Work-Sans] text-lg mt-2">Full Stack Engineer</h2>
        	<p class="text-[1.2rem] max-w-[290px] mt-2">
          	Your ideas, transformed into seamless tech experiences
        	</p>
      	</div>
        <div class="w-full justify-start mt-10">
            <ScrollIndex
              items={[
                { id: "about", label: "Sobre mí" },
                { id: "academics", label: "Academia" },
                { id: "experience", label: "Experiencia" },
                { id: "contacto", label: "Contacto" },
              ]}
            />
        </div>
    	</section>
      <div class=" flex items-center justify-center">

      </div>
 

    	<section class="basis-[30%] flex justify-center items-center gap-4 pb-8">
      	<a href="https://www.linkedin.com/in/esteban-marta-rojas-a8161335a" target="_blank">
        	<img class="w-7 hover:scale-110 transition-transform duration-300" src="public/linkedin.svg" alt="LinkedIn" />
      	</a>
      	<a href="https://github.com/EstebanzZ" target="_blank">
        	<img class="w-7 hover:scale-110 transition-transform duration-300" src="public/github.svg" alt="Github" />
      	</a>
      	<a href="https://www.instagram.com/estebanmaroj" target="_blank">
        	<img class="w-7 hover:scale-110 transition-transform duration-300" src="public/instagram.svg" alt="Instagram" />
      	</a>
    	</section>
  	</aside>
  	<main class="overflow-y-auto md:max-h-screen pt-10">
  <section id="about"><About /></section>
  <section id="academics"><Academics /></section>
  <section id="experience"><Experience /></section>
  <section id="contacto"><Contacto /></section>
    <Footer/>
  	</main>
  </div>
	
</Layout>
