<main>
    <section class="min-h-screen flex flex-col items-start text-left px-10 py-12 max-w-[600px] mx-auto">
  <h3 class="text-4xl font-[Work-Sans] text-center w-full mb-6">Academics</h3>
  <ul class="list-disc list-inside text-[#8A9BA8] text-lg mt-1 mb-2">
    <li>Software Technology student – University of Santiago de Cali</li>
  </ul>
</section>
</main>