<main>
    <section class="min-h-screen flex flex-col items-start text-left px-10 py-12 max-w-[600px] mx-auto">
  <h3 class="text-4xl font-[Work-Sans] text-center w-full mb-6">Contacto</h3>
  <!-- Agrega contacto si los necesitas -->
</section>
</main>