<footer class="w-full text-left p-20">
      <p class="font-[IBM Plex Sans] text-md text-[#8A9BA8] max-w-[350px]">
    Coded in Visual Studio Code. Built with Astro and Tailwind CSS. deployed with Vercel.
  </p>
</footer>
